.square {
  width: 750px;
  height: 750px;
  border-radius: 160px;
  background-color: #c1e3d6;
  transform: rotate(45deg);
  position: absolute;
}

.top-left {
  top: -200px;
  left: -200px;
}

.bottom-right {
  bottom: -200px;
  right: -200px;
}
