.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 130px 100px;
  flex-direction: column;
  gap: 30px;
}
.text {
  font-size: 25px;
  text-align: center;
  line-height: 1.7;
}
